{% extends "base.html" %} 
{% load static %} 
{% block metadescription %} 
{%endblock %} 
{% block title %} The Graphics House {% endblock %} 
{% block content%}

<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/all.css' %}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">


<div class="Outer container-md">


<div class="firstSectionDesktop ">
<section class=" homePageFirstSection">
<!--======================================================== FOR EACH ROW ======================================================== -->

        {% for post in featured%}
        <div class="homePageFirstSection2Outer">
        <div class="homePageFirstSection2">
        <div class="forEachRowHomePageMobile">
            <a class="" href="{{post.get_absolute_url}}"> 
                <img style="" id="" class=" forEachRowImageMobile" src="{{post.image.url}}" />
            </a>
       </div>
       <div class="forEachRowHomePageTextMobile">

        <p class="forEachRowHomePageCategorytMobile"><a style="list-style-type: none; text-decoration: none;"  href="{%url 'website:category_detail' post.category.slug%}" class=" text-dark">{{post.category}}</a></p>


        <h4 style="text-transform:capitalize ;" class="forEachRowHomePageTextHeaderMobile text-dark"><a style="list-style-type: none; text-decoration: none; " class="text-dark  " href="{{post.get_absolute_url}}"> {{post.title}}</a></h4>

       </div>  
    </div>
</div>
        {%endfor%}
   
</section>

</div>

<div class="secondSectionDesktop ">  
     <!--======================================================== FACEBOOK SECTION ======================================================== -->
<section class=" homePageFacebookSection pb-5">
 
 <h1 class="facebookHeaderText">RECOMMENDED PAGES</h1>
    <div class="facebookSection">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FThe-Graphics-House-107859138255189%2F&tabs=timeline&width=300&height=352&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="352" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>        <section style="display: none;" id="newsLetterFacebook"  class="newsLetterFacebook homePageNewsLetterSection mb-5">
            <div class="homePageNewsLetterBackground">
                <h1 class="text-center homePageNewsLetterHeader" >GET NOTIFIED WHEN WE POST SOMETHING NEW!</h1>
                <input class="text-gray homePageNewsLetterInput"  type="email" placeholder="Enter your email">
                <button class="btn btn-dark rounded-0 mt-3 homePageNewsLetterButton" id="newsletter_button">SUBSCRIBE</button>
            </div>
        </section>
    </section> 

<!--======================================================== WHAT WE DO SECTION ======================================================== -->
<section class="container-mine homePageWhatSection" id="container-tablet-WhatWeDo">
    <h1 class=" homePageWhatH1">WHAT WE DO</h1>
    {% if whatWeDo %}
    {%for post in whatWeDo%}
    <div class="homePageWhatRow">
        <a href="{{post.get_absolute_url}}"><img class="homePageWhatImage" src="{{post.image.url}}"></a>
        <p class="homePageWhatHeaderText ">
                <a style="list-style-type: none; text-decoration: none; color: black;" href="{{post.get_absolute_url}}">
                     {{post.title}}
                </a>
            </p>
        </div>
    {%endfor%}
    {%endif%}

  <!--======================================================== WANT TO CONTRIBUTE SECTION ======================================================== -->

    <h1 style="padding-top: -10vh !important;" class=" homePageWhatH1">CONTRIBUTE</h1>

    <div class="homePageWhatRow">
        <a href="#"><img class="homePageWhatImage" src="{% static 'images/undraw_Investing_re_bov7.png'%}"></a>
        <p class="homePageWhatHeaderText ">
                <a style="list-style-type: none; text-decoration: none; color: black;" href="#">
                     Want to contribute to our repetoire of posts? Come on along!
                </a>
            </p>
        </div> 
    
  


    <!--======================================================== NEED TO REACH US SECTION ======================================================== -->
    <section id="reachUsWhatSection" style="display:none;" class=" homePageNeedReachUs homePageNeedReachUsMobile">
  
        <h1 class="homePageNeedReachUsH1 homePageNeedReachUsH1Mobile">NEED TO REACH US?</h1>
        <p class="homePageNeedReachUsEmail homePageNeedReachUsEmailMobile"><b>Email:</b> <span style="font-weight: lighter;" class="homePageNeedReachUsAddress"> wearethegraphicshouse@gmail.com</span></p>
        </section>
</section>

  <!--======================================================== WANT TO CONTRIBUTE SECTION ======================================================== -->

  <!-- <section  style="padding-top: -40px !important;" class="container-mine homePageWhatSection whantContributeOriginal" id="container-tablet-WhatWeDo">
    <h1 style="padding-top: -10vh !important;" class=" homePageWhatH1">CONTRIBUTE</h1>
    
    <div class="homePageWhatRow">
        <a href="#"><img class="homePageWhatImage" src="{% static 'images/DARA.png'%}"></a>
        <p class="homePageWhatHeaderText pt-3">
                <a style="list-style-type: none; text-decoration: none; color: black;" href="#">
                     Want to contribute to our repetoire of posts? Come on along!
                </a>
            </p>
        </div> 
    
    
</section> -->

    <!--======================================================== NEWSLETTER ======================================================== -->
    <section class=" homePageNewsLetterSection mt-3 mb-5">
        <div class="homePageNewsLetterBackground">
            <h1 class="text-center homePageNewsLetterHeader" >GET NOTIFIED WHEN WE POST SOMETHING NEW!</h1>
            <input class="text-gray homePageNewsLetterInput"  type="email" placeholder="Enter your email">
            <button class="btn btn-dark rounded-0 mt-3 homePageNewsLetterButton" id="newsletter_button">SUBSCRIBE</button>
        </div>
    </section>



     

       <!--======================================================== NEED TO REACH US SECTION ======================================================== -->
       <br>
       <section id="reachUsWhatSectionOriginal"  style="display:none;" class=" homePageNeedReachUs">
        <br>
        <h1 class="homePageNeedReachUsH1">WANT TO REACH US?</h1>
        <p class="homePageNeedReachUsEmail "><b>Email:</b> <span style="font-weight: lighter;" class="homePageNeedReachUsAddress"> wearethegraphicshouse@gmail.com</span></p>
        </section>
        
</div>

</div>




{% endblock content %}
