{% extends "base.html" %} 
{% load static %} 
{% block metadescription %} 

{%endblock %} 
{% block title %} {{post.title}} {% endblock %} 
{% block content%}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/post.css' %}" />
<link rel="stylesheet" href="{% static 'css/all.css' %}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

      <div class="Outer container-md ">
   
      <div class="firstSectionDesktop border-bottom">
      <section class=" homePageFirstSection">
      <!--======================================================== FOR EACH ROW ======================================================== -->
  
              <div class="homePageFirstSection2Outer">
              <div class="homePageFirstSection2 border-bottom">
                <div class="homePageFirstSection2InnerOuter">

            <div class="homePageFirstSection2Inner ">
                <p class="forEachRowHomePageCategorytMobile"><a style="list-style-type: none; text-decoration: none;"  href="{%url 'website:category_detail' post.category.slug%}" class=" text-dark">{{post.category}}</a></p>
                {%if new %} 
               <br>
                <span style=" font-size: 11px; background-color: red !important;" class=" badge badge-pill badge-danger ">New</span>

                {%else%}
                {%endif%}
                <h4 style="text-transform:capitalize ;" class="forEachRowHomePageTextHeaderMobile text-dark"> {{post.title}}
                 
                </h4>

                <!-- https://developers.facebook.com/docs/plugins/share-button/ -->

                <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fgroups%2Fdeeperlifebiblechurchsingles%2F%3F__cft__
                [0]%3DAZW64t27v4lSZNTyrjqlLZH27XG_0jHhh4KvxXRSkx9cBDn8dOuBz_Y2Wnel3hlaORyGCrLG3G6qzxmG
                9rRirxtFLD6oo-qnzZMjr6qckAJZUMKtnLGWe6Malu7iqYamFtygtfV1hwQpWGhZ5wOY6ZOB6HJJsBNy_G6tL92-gAYG5z5jp37HYVwVCacWDM-zdH0
                %26__tn__%3D-UC%252CP-R&layout=button_count&size=small&appId=148660960575291&width=77&height=20" width="77" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

                <br>
                <div class="labelContainer" >
                <p class="forEachRowHomePageLabelstMobile">{{post.author}}</p>
              <p class="forEachRowHomePageLabelstMobile">{{post.created|date:'M d, Y'}}</p>
             
              <p style="opacity: 20%;" class="forEachRowHomePageLabelstMobile forEachRowHomePageMinuteRead">{{post.read_time }} MIN READ</p>
             
              <p style="opacity: 30%;" class="forEachRowHomePageLabelstMobile"><i class="fas fa-eye"></i> {{post.view_count }}</p>
            </div>
        </div>
    </div>
        <div class="forEachRowHomePageMobile">
            <a class="" href="{{post.get_absolute_url}}"> 
             <img style="" id="" class=" forEachRowImageMobile" src="{{post.image.url}}" />
          </a>
             </div>
         
             <div class="forEachRowHomePageTextMobile">
                <p class="forEachRowHomePageContent">{{post.content|safe}}</p>

              
              </div>
             </div>  


             <div class="otherTopics border-bottom">

                <h6 class="otherTopicsHeader">Other Topics</h6>

                <div class="otherTopicsLabelsContainer">
                    {% if checkOutCategory %}
                    {%for label in checkOutCategory%}

                    <p class=""><a class="otherTopicsLabelText text-dark" href="{{label.get_absolute_url}}">#{{label.name}}</a>  </p>
                   
                    {%endfor%}
                    {%endif%}
    
                </div>

             </div>

             <div class="profileHoliness text-center">
                <img class="my-4 mx-auto" style="width: 250px;" src="{% static 'images/footerLogo.png' %}" alt="Online Cushion Store">
             <h6>TheGraphicsHouse.com</h6>
                <p class="profileHolinessText pt-2">We aim to give you designs that you would love to have and make! Stay ahead with our designs by emailing us | Email: wearethegraphicshouse@gmail.com</p>
            <div class="profileHolinessMediaContainer ">
                <p class="profileHolinessMedia"><i style="" class=" fab fa-facebook text-dark"></i></p>
                <p class="profileHolinessMedia"><i style="" class=" fab fa-linkedin text-dark"></i></p>
                <p class="profileHolinessMedia"><i style="" class=" fab fa-youtube text-dark"></i></p>


            </div>
            
            </div>


          
             


                  <div class="checkOutPostsContainer">

                    <h5 class="checkOutPostsHeading">
                        OUR OTHER POSTS
                    </h5>
                    
                    <div class="checkOutPostInnerContainer">
                        {% for chechOut in checkOutPost %}
                        <div class="checkOutPostInnerBody">
                           <a href="{{chechOut.get_absolute_url}}"><img class="checkOutPostImage" src="{{chechOut.image.url}}" alt="check out this image text"></a> 
                            <h6 class="checkOutPostInnerCategoryText text-center">{{chechOut.category}}</h6>
                            <p class="checkOutPostInnerTitle text-center">{{chechOut.title}}</p>
                            <div class="checkOutPostInnerFooter">
                                <p class="checkOutPostInnerFooterText">{{chechOut.author}}</p>
                                <p id="checkOutPostInnerFooterTextDate" class="checkOutPostInnerFooterText">{{chechOut.created|date:'M d, Y'}}</p>

                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    
                  </div>
           
             
          </div>


          
          </section>
      </div>
      
              
         
     
      
    
      
<div class="secondSectionDesktop ">
    <section class=" homePageFacebookSection pb-5">
        <!--======================================================== FACEBOOK SECTION ======================================================== -->
    <h1 class="facebookHeaderText">RECOMMENDED PAGES</h1>
        <div class="facebookSection">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FThe-Graphics-House-107859138255189%2F&tabs=timeline&width=300&height=352&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="352" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>             <section style="display: none;" id="newsLetterFacebook"  class="newsLetterFacebook homePageNewsLetterSection mb-5">
                <div class="homePageNewsLetterBackground">
                    <h1 class="text-center homePageNewsLetterHeader" >GET NOTIFIED WHEN WE POST SOMETHING NEW!</h1>
                    <input class="text-gray homePageNewsLetterInput"  type="email" placeholder="Enter your email">
                    <button class="btn btn-dark rounded-0 mt-3 homePageNewsLetterButton" id="newsletter_button">SUBSCRIBE</button>
                </div>
            </section>
        </section>
    
    <!--======================================================== WHAT WE DO SECTION ======================================================== -->
    <section class="container-mine homePageWhatSection" id="container-tablet-WhatWeDo">
        <h1 class=" homePageWhatH1">WHAT WE DO</h1>
        {% if whatWeDo %}
        {%for post in whatWeDo%}
        <div class="homePageWhatRow">
            <a href="{{post.get_absolute_url}}"><img class="homePageWhatImage" src="{{post.image.url}}"></a>
            <p class="homePageWhatHeaderText ">
                    <a style="list-style-type: none; text-decoration: none; color: black;" href="{{post.get_absolute_url}}">
                         {{post.title}}
                    </a>
                </p>
            </div>
        {%endfor%}
        {%endif%}
    
      <!--======================================================== WANT TO CONTRIBUTE SECTION ======================================================== -->
    
        <h1 style="padding-top: -10vh !important;" class=" homePageWhatH1">CONTRIBUTE</h1>
    
        <div class="homePageWhatRow">
            <a href="#"><img class="homePageWhatImage" src="{% static 'images/undraw_Investing_re_bov7.png'%}"></a>
            <p class="homePageWhatHeaderText ">
                    <a style="list-style-type: none; text-decoration: none; color: black;" href="#">
                         Want to contribute to our repetoire of posts? Come on along!
                    </a>
                </p>
            </div> 
        
      
    
    
        <!--======================================================== NEED TO REACH US SECTION ======================================================== -->
        <section id="reachUsWhatSection" style="display:none;" class=" homePageNeedReachUs homePageNeedReachUsMobile">
            <h1 class="homePageNeedReachUsH1 homePageNeedReachUsH1Mobile">NEED TO REACH US?</h1>
            <p class="homePageNeedReachUsEmail homePageNeedReachUsEmailMobile"><b>Email:</b> <span style="font-weight: lighter;" class="homePageNeedReachUsAddress"> wearethegraphicshouse@gmail.com</span></p>
            </section>
    </section>
    
      <!--======================================================== WANT TO CONTRIBUTE SECTION ======================================================== -->
    
      <!-- <section  style="padding-top: -40px !important;" class="container-mine homePageWhatSection whantContributeOriginal" id="container-tablet-WhatWeDo">
        <h1 style="padding-top: -10vh !important;" class=" homePageWhatH1">CONTRIBUTE</h1>
        
        <div class="homePageWhatRow">
            <a href="#"><img class="homePageWhatImage" src="{% static 'images/DARA.png'%}"></a>
            <p class="homePageWhatHeaderText pt-3">
                    <a style="list-style-type: none; text-decoration: none; color: black;" href="#">
                         Want to contribute to our repetoire of posts? Come on along!
                    </a>
                </p>
            </div> 
        
        
    </section> -->
    
        <!--======================================================== NEWSLETTER ======================================================== -->
        <section class=" homePageNewsLetterSection mt-3 mb-5">
            <div class="homePageNewsLetterBackground">
                <h1 class="text-center homePageNewsLetterHeader" >GET NOTIFIED WHEN WE POST SOMETHING NEW!</h1>
                <input class="text-gray homePageNewsLetterInput"  type="email" placeholder="Enter your email">
                <button class="btn btn-dark rounded-0 mt-3 homePageNewsLetterButton" id="newsletter_button">SUBSCRIBE</button>
            </div>
        </section>
    
    
    
         
    
           <!--======================================================== NEED TO REACH US SECTION ======================================================== -->
           <section id="reachUsWhatSectionOriginal"  style="display:none;" class=" homePageNeedReachUs">
            <h1 class="homePageNeedReachUsH1">NEED TO REACH US?</h1>
            <p class="homePageNeedReachUsEmail "><b>Email:</b> <span style="font-weight: lighter;" class="homePageNeedReachUsAddress"> wearethegraphicshouse@gmail.com</span></p>
            </section>
            
    </div>
    
    </div>
    
    
    
    
    {% endblock content %}




      



