#navbarContent li {
  
  font-weight: 300;
}

#navbarContent li {
    
  font-weight: 300;

  
}



#navbarMain {
  background-color: #f4f5f5;
  margin-top: -1px;
  color: black;
}
#navbarContent li a{
  color: black;
}
.logo {
  display: block;
}

.navers{

  font-family: "Playfair Display", serif;
}


.forEachRowHomePageTextHeaderMobile {
  font-family: "Playfair Display", serif;
}

.homePageWhatImage:hover {
  filter: brightness(70%);
}
.forEachRowHomePageTextHeaderMobile {
  transition: 0.2s ease-in-out;
}

.forEachRowHomePageTextHeaderMobile:hover {
  opacity: 60%;
  text-decoration: underline;
}
.homePageWhatHeaderText:hover {
  text-decoration: underline;
}

.forEachRowImageMobile {
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
.forEachRowImageMobile:hover {
  filter: brightness(110%);
}

.homePageWhatImage {
  transition: 0.2s ease-in-out;
}
.homePageWhatHeaderText {
  transition: 0.2s ease-in-out;
}

#navbarMain {
  background-color: #f4f5f5;
  margin-top: -1px;
  color: black;
}
#navbarContent li a {
  color: black;
}

#navbarContent li a {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
}
#navbarContent li a:hover {
  color: #c92020 !important;
}
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
.forEachRowHomePageTextHeaderMobile {
  /* font-family: "Soure Sans Pro", sans-serif; */
}


/* HOMEPAGE */
/* DESKTOP ONLY */

/* MOBILE ONLY */
@media only screen and (max-width: 765px) {


.container-mine{

  width: 70% !important;
  padding: 0 8%;
}
  #navbarContent li {
    
      
    
    padding-bottom: 3.2vh;
    padding-top: 3.2vh;
    
    
  }

  #navbarContent li a{

    
  }

  /* ENTIRE PAGE */
  .homePageFirstSection {
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
  }
  body {
    overflow-x: hidden !important;
  }

  /* SECTION - FIRST ROW */
  .forEachRowHomePageMobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forEachRowImageMobile {
    padding-top: 6vh;
    width: 90vw;
    height: auto !important;
  }
  .forEachRowHomePageTextMobile {
    max-width: inherit;
    padding: 0 2vw;
  }
  .forEachRowHomePageCategorytMobile {
    padding-top: 4vh;
    text-transform: uppercase;
    font-size: 9px;
    padding-bottom: 1vh;
  }
  .forEachRowHomePageTextHeaderMobile {
    border-bottom: 1px solid #dee2e6 !important;
    padding-bottom: 6vh;
  }

  /* FACEBOOK SECTION */

  .homePageFacebookSection {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .facebookSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .facebookHeaderText {
    float: left !important;
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    width: 39vw;
  }

  /* WHAT WE DO SECTION */

  .homePageWhatSection {
    display: flex;
    flex-direction: column;
    width: 95vw !important;
  }
  .homePageWhatImage {
    width: 20vw;
    height: auto;
  }

  .homePageWhatHeaderText {
    font-size: 14px;
    font-family: "Playfair Display", serif;
    width: 120%;
    padding-left: 13px;
  }
  .homePageWhatH1 {
    float: left !important;
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    border-top: 1px solid #dee2e6 !important
  }

  .homePageWhatRow {
    display: flex;

    align-items: center;

    padding-bottom: 2vh;
  }

  /* NEED TO REACH US */
  
  .homePageNeedReachUsH1Mobile{

  
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
  }
    
  #reachUsWhatSection{
  
  
    display: block !important;
  }

  /* NEWSLETTER SECTION */

  
  .homePageNewsLetterSection {
    display: flex;
    align-items: center;
    justify-content: center;
    

  }

  .homePageNewsLetterBackground {
    margin-top: 40px;
    background-color: #c92020;
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .homePageNewsLetterHeader {
    font-size: 13px;
    width: 80%;
    font-weight: bold;
    padding: 31px  0 26px 0;
    color: white;
  }
  .homePageNewsLetterInput {
    width: 80%;
    height: 30px;
    border: none;
  }

  .homePageNewsLetterButton {
    width: 40%;
    font-size: 13px;
    margin-bottom: 30px;
  }
 ::placeholder{
  margin-top: -10px;
  padding-left: 16px;
  margin-bottom: 19px;
  font-size: 12px;
  font-weight: 300;
}

.whantContributeOriginal{

  display: none;


}
.whantContributeMobile{

  display: block !important;
}

}

/* LAPTOP ONLY */
@media only screen and (max-width: 1024px) and (min-width: 766px) {

  
  #navbarContent li {
    
      
    
    padding-bottom: 3.2vh;
    padding-top: 3.2vh;
    font-size:  34px !important;
    
  }

  #navbarContent li a{

    
    font-family: Helvetica;
  }

  #logo{

      display: block;
    }
    #logoNavbar {
      display: none;
    }

  .container-md {
    max-width: 95%;
    align-self: center;
  }

  .homePageFirstSection {
    width: 90vw;
  }
  .forEachRowImageMobile {
    width: 42vw;
  }
  .forEachRowHomePageTextMobile {
    padding-left: 6vw;
  }

  .forEachRowHomePageCategorytMobile {
    padding-top: 0.5vh;
    text-transform: uppercase;
    font-size: 9px;
  }
  .forEachRowHomePageMobile {
    padding-bottom: 5vh;
  }
  .homePageFirstSection2Outer {
  }

  .forEachRowHomePageTextHeaderMobile {
    width: 40vw;
    padding-bottom: 5vh;
  }
.forEachRowHomePageCategorytMobileSeperate{

  /* font-family: "Playfair Display", serif; */

}

  .homePageFirstSection2 {
    display: flex;
    padding-top: 5vh;

    border-bottom: 1px solid #dee2e6 !important;
    justify-content: center;
  }
 /* @media only screen and (max-width: 1024px) and (min-width: 766px) {
  /* FACEBOOK /NEWSLETTER /WHAT WE /DO FIND US */

  /* TABLET */

  /* SECTION OUTER-INNER-ONE TABLET */

  .homePageTabletSectionOne {
    width: 30vw;
    display: inline-block;
  }

  /* FACEBOOK */

  .facebookSection{

    
  }

  

  .facebookHeaderText{
    float: left !important;
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    margin: 0 auto;
  }

  .homePageFacebookSection {
    
    vertical-align: top;
    height: 80%;
    padding: 0 70px;
    
  
  }

  .newsLetterFacebook{

    display: block !important;
    margin-bottom: 13vh !important;
  }
   /* @media only screen and (max-width: 1024px) and (min-width: 766px) {
  /* WHAT WE DO SECTION */
  .homePageWhatSection {

    
    display: flex;
    flex-direction: column;
    width: 45vw;
   border-left:  1px solid #dee2e6 !important;
    padding: 0 50px;
    
  }
  .homePageWhatImage {
    width: 10vw;
    height: auto;
  }

  .homePageWhatHeaderText {
    font-size: 14px;
    font-family: "Playfair Display", serif;
    width: 50%;
    padding-left: 13px;
  
  }
  .homePageWhatH1 {
    float: left !important;
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;

  }

  .homePageWhatRow {
    display: flex;
  

    align-items: center;
    padding-bottom: 2vh;
  }

  /* @media only screen and (max-width: 1024px) and (min-width: 766px) {
  /* NEWSLETTER SECTION */

  .homePageNewsLetterSection {
    display: flex;
    flex: 0 0 100% !important;
    align-items: center;
    justify-content: center;
    display: none;
    
    

  }

  .homePageNewsLetterBackground {
    margin-top: 40px;
    background-color: #c92020;
    width: 300px;
    height: 100%;
    display: flex;
    float: left !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .homePageNewsLetterHeader {
    font-size: 13px;
    width: 80%;
    font-weight: bold;
    padding: 31px  0 26px 0;
    color: white;
  }
  .homePageNewsLetterInput {
    width: 80%;
    height: 30px;
    border: none;
  }

  .homePageNewsLetterButton {
    width: 40%;
    font-size: 13px;
    margin-bottom: 30px;
  }
 ::placeholder{
  margin-top: -10px;
  padding-left: 16px;
  margin-bottom: 19px;
  font-size: 12px;
  font-weight: 300;
}


 /* @media only screen and (max-width: 1024px) and (min-width: 766px) {
  /* OUTER TABLES SECTIOIN  */

  .homePageTabletSectionOuter {
    display: flex;
    justify-content: center;
    
  }

 /* @media only screen and (max-width: 1024px) and (min-width: 766px) {
  /* SECTIONS */

  .secondSectionDesktop{
    display: inline-block !important;
    display: flex !important;
    align-content: space-around !important;
    align-items: stretch !important;
    justify-content: center !important;
    margin: 0 auto !important;
    padding-top: 50px !important;

   
   
    
    width: 100vw !important;
  }


  /* REACH US SECRION */


  #reachUsWhatSection{


    display: block !important;
    display: flex;
    flex-direction: row;
    
  }

  .homePageNeedReachUsH1{

    
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
  }

  .whantContributeOriginal{

    display: none;


  }



}

@media only screen and (max-width: 991px) {
  #logo{
  
    display: none !important;
  }
  #logoNavbar {
    display: block !important;
  }
}

@media only screen and (min-width: 992px)  and (max-width: 1024px){

  #navbarContent li {
    
    font-weight: 300;
    margin-left: 28px;
    border: none !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    
    font-size:  34px !important;
    
  }
  #navbarContent li a{


  }
  #logo{

    display: block !important;
  }
  #logoNavbar {
    display: none !important;
  }
 
   }

/* DESKTOPS ONLY */
@media only screen and (max-width: 1200px) and (min-width: 1025px) {

  #navbarContent li {
    
    font-weight: 300;
    margin-left: 28px;
    
  }
  #logoNavbar {
    display: none;
  }

  .container-md {
    max-width: 950px;
  }
  .outer {
    display: flex;
    justify-content: space-between;
  }
  /* FIRST SECTION */

  .homePageFirstSection {
  }
  .forEachRowImageMobile {
    width: 22vw;
  }

  .forEachRowHomePageTextMobile {
    padding-left: 3vw;
  }

  .forEachRowHomePageCategorytMobile {
    padding-top: 0.5vh;
    text-transform: uppercase;
    font-size: 9px;
  }
  .forEachRowHomePageMobile {
    padding-bottom: 5vh;
  }

  .forEachRowHomePageTextHeaderMobile {
    width: 25vw;
    padding-bottom: 5vh;
    font-size: 19px;
  }
  .homePageFirstSection2Outer {
  }
  .homePageFirstSection2 {
    display: flex;
    padding-top: 5vh;

    border-bottom: 1px solid #dee2e6 !important ;
    justify-content: center;
  }
  /* DESKTOP SECTIONS */
  .firstSectionDesktop {
    display: inline-block !important;
  }
  .secondSectionDesktop {
    display: inline-block !important;
    width: 33%;
    vertical-align: top;
    float: right;
  }

  /* FACEBOOK SECTION */

  .facebookWidth {
    width: 10vw;
  }

  .homePageFacebookSection .facebookHeaderText {
    
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    font-size: 13px;
    width: 15vw;
  }

  .homePageFacebookSection {
    width: 40%;
  }

  .facebookSection {
    width: 30%;
  }

  

  /* WHAT WE DO SECGTION */

  .homePageWhatImage {
    width: 10vw;
    height: auto;
  }

  .homePageWhatRow {
    display: flex;
    padding-bottom: 14px;
    align-items: center;
  }

  .homePageWhatHeaderText {
    padding-left: 10px;
    font-size: 13px;
    font-family: "Playfair Display", serif;
  }

  .homePageWhatH1 {
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    margin: 0 auto;
  }
  .homePageWhatSection {
    
  }
/* NEWSLETTER SECTION */

.homePageNewsLetterSection {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.homePageNewsLetterBackground {
  margin-top: 40px;
  background-color: #c92020;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homePageNewsLetterHeader {
  font-size: 13px;
  width: 80%;
  font-weight: bold;
  padding: 31px  0 26px 0;
  color: white;
}
.homePageNewsLetterInput {
  width: 80%;
  height: 30px;
  border: none;
}

.homePageNewsLetterButton {
  width: 40%;
  font-size: 13px;
  margin-bottom: 30px;
}
::placeholder{
margin-top: -10px;
padding-left: 16px;
margin-bottom: 19px;
font-size: 12px;
font-weight: 300;
}



/* NEED TO REACH US SECTION */

.homePageNeedReachUsH1{

  
  font-size: 13px;
  font-weight: bold;
  padding-top: 5vh;
  padding-bottom: 3vh;
}
  
#reachUsWhatSectionOriginal{


  display: block !important;
}


/* NEED TO RACH US */


.homePageNeedReachUsH1{

  
  font-size: 13px;
  font-weight: bold;
  padding-top: 5vh;
  padding-bottom: 3vh;
}
  
#reachUsWhatSectionOriginal{


  display: block !important;
}
}

/* FULLSCREEN 😎 */
@media only screen and (min-width: 1201px) {

  #navbarContent li {
    
    font-weight: 300;
    margin-left: 28px;
    
  }
  #logoNavbar {
    display: none;
  }

  .container-md {
    max-width: 62%;
    display: flex;
    
    
    justify-content: space-between;
  }
  .outer {
    display: flex;
    justify-content: space-between;
  }
  /* FIRST SECTION */

  .homePageFirstSection {
  }
  .forEachRowImageMobile {
    width: 20vw;
  }

  .forEachRowHomePageTextMobile {
    padding-left: 2vw;
  }

  .forEachRowHomePageCategorytMobile {
    padding-top: 0.5vh;
    text-transform: uppercase;
    font-size: 9px;
  }
  .forEachRowHomePageCategorytMobileSeperate {
    font-size: 35px !important;
  }
  .forEachRowHomePageMobile {
    padding-bottom: 5vh;
  }

  .forEachRowHomePageTextHeaderMobile {
    width: 18vw;
    padding-bottom: 5vh;
    font-size: 22px;
  }
  .homePageFirstSection2Outer {
  }
  .homePageFirstSection2 {
    display: flex;
    padding-top: 5vh;

    border-bottom: 1px solid #dee2e6 !important ;
    justify-content: center;
  }
  /* DESKTOP SECTIONS */
  .firstSectionDesktop {
    display: inline-block !important;
  }
  .secondSectionDesktop {
    
    width: 45%;
    padding-left: 8%;
    vertical-align: top;
    
    
  }

  /* FACEBOOK SECTION */

  .facebookWidth {
    width: 10vw;
  }

  

  .homePageFacebookSection {
    width: 40%;
  }

  .facebookSection {
    width: 30%;
  }

  .facebookHeaderText {
    display: inline-block;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    width: 15vw;
    font-size: 13px;
  }

  /* WHAT WE DO SECGTION */

  .homePageWhatImage {
    width: 5vw;
    height: auto;
   
  }

  .homePageWhatRow {
    display: flex;
    padding-bottom: 14px;
    align-items: center;
  }
  .homePageWhatHeaderText {
    padding-left: 10px;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    width: 70%;
  }
  .homePageWhatH1 {
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    margin: 0 auto;
    display: inline-block;
  }

  .homePageWhatSection {
   float: left;
   width: 100%;
    
  }

  /* NEWSLETTER SECTION */

  .homePageNewsLetterSection {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
  }

  .homePageNewsLetterBackground {
    margin-top: 40px;
    background-color: #c92020;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .homePageNewsLetterHeader {
    font-size: 13px;
    width: 80%;
    font-weight: bold;
    padding: 31px  0 26px 0;
    color: white;
  }
  .homePageNewsLetterInput {
    width: 80%;
    height: 30px;
    border: none;
  }

  .homePageNewsLetterButton {
    width: 40%;
    font-size: 13px;
    margin-bottom: 30px;
  }
 ::placeholder{
  margin-top: -10px;
  padding-left: 16px;
  margin-bottom: 19px;
  font-size: 12px;
  font-weight: 300;
}
  
  #logo {
    display: block;
  }

/* NEED TO RACH US */


.homePageNeedReachUsH1{

  
  font-size: 13px;
  font-weight: bold;
  padding-top: 5vh;
  padding-bottom: 3vh;
}
  
#reachUsWhatSectionOriginal{


  display: block !important;
}

 
}

