#navbarContent li {
    
    font-weight: 300;

  }
  #navbarMain {
    background-color: #f4f5f5;
    margin-top: -1px;
    color: white;
  }
  #navbarContent li a{
    color: white;
  }
  
.homePageWhatImage:hover{

  filter: brightness(70%);
}
.forEachRowHomePageTextHeaderMobile{

  transition: 0.2s ease-in-out;
}

.homePageWhatHeaderText:hover{
  text-decoration:underline ;

}
.forEachRowImageMobile{
  transition: 0.2s ease-in-out;
  overflow:hidden;
}


.homePageWhatImage{

  transition: 0.2s ease-in-out;
}
.homePageWhatHeaderText{
  transition: 0.2s ease-in-out;


}
  
  #navbarContent li a {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: sans-serif;
    list-style-type: none;
    text-decoration: none;
  }
  #navbarContent li a:hover {
    color: #c92020 !important;
  }
 
  
  
  /* HOMEPAGE */
  /* DESKTOP ONLY */
  
  /* MOBILE ONLY */
  @media only screen and (max-width: 765px) {

    .container-mine{

      width: 70% !important;
      padding: 0 8%;
    }
    
  
    #navbarContent li {
    
      
      font-weight: 300;
      padding-bottom: 3.2vh;
      padding-top: 3.2vh;
      border: none !important;
      
    }
   
  
  /* ENTIRE PAGE */
    .homePageFirstSection{
  
      display: flex;
      flex-direction: column;
      overflow-x: hidden !important;
  
    }
    body{
  
        overflow-x: hidden !important;
    }
  
  
  /* SECTION - FIRST ROW */
 
  .forEachRowImageMobile{
  
    padding-top: 2vh;
    width: 93vw ;
    height: auto!important;
  
  
  }
  .forEachRowHomePageMobile{

    display: flex;
    justify-content: center;
    
  }
  .forEachRowHomePageContent{

    font-weight: lighter;
    padding-top: 5vh;
   
  }

  .forEachRowHomePageTextMobile{

    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-direction: column;
  }
  
  .forEachRowHomePageCategorytMobile{
    padding-top: 4vh;
    text-transform: uppercase;
    font-size: 9px;
    padding-bottom: 1vh;
    display: inline-block;
    margin-right: 10px;
  }
  .forEachRowHomePageLabelstMobile{
    padding-top: .5vh;
    text-transform: uppercase;
    font-size: 9px;
    padding-bottom: 1vh;
    display: inline-block;
    margin-right: 10px;

  }
.forEachRowHomePageTextHeaderMobile{
    font-size: 30px;
}
  .forEachRowHomePageMinuteRead{

    opacity: 20%;
      
  }
   /* FACEBOOK SECTION */

   .homePageFacebookSection {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .facebookSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .facebookHeaderText {
    float: left !important;
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    width: 39vw;
  }

  /* WHAT WE DO SECTION */

  .homePageWhatSection {
    display: flex;
    flex-direction: column;
    width: 95vw !important;
  }
  .homePageWhatImage {
    width: 20vw;
    height: auto;
  }

  .homePageWhatHeaderText {
    font-size: 14px;
    font-family: "Playfair Display", serif;
    width: 120%;
    padding-left: 13px;
  }
  .homePageWhatH1 {
    float: left !important;
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    border-top: 1px solid #dee2e6 !important
  }

  .homePageWhatRow {
    display: flex;

    align-items: center;

    padding-bottom: 2vh;
  }

  /* NEED TO REACH US */
  
  .homePageNeedReachUsH1Mobile{

  
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
  }
    
  #reachUsWhatSection{
  
  
    display: block !important;
  }

  /* NEWSLETTER SECTION */

  
  .homePageNewsLetterSection {
    display: flex;
    align-items: center;
    justify-content: center;
    

  }

  .homePageNewsLetterBackground {
    margin-top: 40px;
    background-color: #c92020;
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .homePageNewsLetterHeader {
    font-size: 13px;
    width: 80%;
    font-weight: bold;
    padding: 31px  0 26px 0;
    color: white;
  }
  .homePageNewsLetterInput {
    width: 80%;
    height: 30px;
    border: none;
  }

  .homePageNewsLetterButton {
    width: 40%;
    font-size: 13px;
    margin-bottom: 30px;
  }
 ::placeholder{
  margin-top: -10px;
  padding-left: 16px;
  margin-bottom: 19px;
  font-size: 12px;
  font-weight: 300;
}

.whantContributeOriginal{

  display: none;


}
.whantContributeMobile{

  display: block !important;
}
  }
  /* ADDITIONAL MEDIA FOR NAVBAR TABLET */
  @media only screen and (max-width: 991px) {
  
   .whole{

    display: none !important;
   }
    
    #logo{
  
      display: none !important;

    }
    #logoNavbar {
      display: block !important;
    }
  
   

  }

  @media only screen and (min-width: 992px) and (max-width: 1024px){

 #navbarContent li {
    
      font-weight: 300;
      margin-left: 28px;
      border: none !important;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
      
      
    }

    #logo{
  
      display: block !important;
    }
    #logoNavbar {
      display: none !important;
    }

  }
  
  /* LAPTOP ONLY */
  @media only screen and (max-width: 1024px) and (min-width: 766px)  {

   
    
    #navbarContent li {
    
      font-weight: 300;
    
      padding-bottom: 3.2vh;
      padding-top: 3.2vh;
      border-bottom: 1px solid white ;
      
    }
  
    #logo{
  
        display: block;
      }
      #logoNavbar {
        display: none;
      }
    
    .container-md{

        max-width: 80vw;
    }
  /* ENTIRE PAGE */
  .homePageFirstSection{
  
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;

  }
  body{

      overflow-x: hidden !important;
  }


/* SECTION - FIRST ROW */

.forEachRowImageMobile{

  padding-top: 2vh;
  width: 77vw ;
  height: auto!important;


}
.forEachRowHomePageLabelstMobile{
    padding-top: 1vh;
    text-transform: uppercase;
    font-size: 9px;
    padding-bottom: 1vh;
    display: inline-block;
    margin-right: 10px;

  }
.forEachRowHomePageTextHeaderMobile{
    font-size: 30px;
}
.forEachRowHomePageMobile{

  display: flex;
  justify-content: center;
  
}
.forEachRowHomePageContent{

  font-weight: lighter;
  padding-top: 5vh;
 
}

.forEachRowHomePageTextMobile{

  display: flex;
  align-items: center;
  justify-content: center;
 
  flex-direction: column;
}

.forEachRowHomePageCategorytMobile{
  padding-top: 4vh;
  text-transform: uppercase;
  font-size: 9px;
  padding-bottom: 1vh;
  display: inline-block;
  margin-right: 10px;
}


.forEachRowHomePageMinuteRead{

  opacity: 20%;
    
}


.facebookSection{

    
}



.facebookHeaderText{
  float: left !important;
  font-size: 13px;
  font-weight: bold;
  padding-top: 5vh;
  padding-bottom: 3vh;
  margin: 0 auto;
}

.homePageFacebookSection {
  
  vertical-align: top;
  height: 80%;
  padding: 0 50px;
  

}

.newsLetterFacebook{

  display: block !important;
  margin-bottom: 13vh !important;
}
 /* @media only screen and (max-width: 1024px) and (min-width: 766px) {
/* WHAT WE DO SECTION */
.homePageWhatSection {

  
  display: flex;
  flex-direction: column;
  width: 45vw;
 border-left:  1px solid #dee2e6 !important;
  padding: 0 50px;
  
}
.homePageWhatImage {
  width: 10vw;
  height: auto;
}

.homePageWhatHeaderText {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  width: 70%;
  padding-left: 13px;

}
.homePageWhatH1 {
  float: left !important;
  font-size: 13px;
  font-weight: bold;
  padding-top: 5vh;
  padding-bottom: 3vh;

}

.homePageWhatRow {
  display: flex;


  align-items: center;
  padding-bottom: 2vh;
}

/* @media only screen and (max-width: 1024px) and (min-width: 766px) {
/* NEWSLETTER SECTION */

.homePageNewsLetterSection {
  display: flex;
  flex: 0 0 100% !important;
  align-items: center;
  justify-content: center;
  display: none;
  
  

}

.homePageNewsLetterBackground {
  margin-top: 40px;
  background-color: #c92020;
  width: 300px;
  height: 100%;
  display: flex;
  float: left !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homePageNewsLetterHeader {
  font-size: 13px;
  width: 80%;
  font-weight: bold;
  padding: 31px  0 26px 0;
  color: white;
}
.homePageNewsLetterInput {
  width: 80%;
  height: 30px;
  border: none;
}

.homePageNewsLetterButton {
  width: 40%;
  font-size: 13px;
  margin-bottom: 30px;
}
::placeholder{
margin-top: -10px;
padding-left: 16px;
margin-bottom: 19px;
font-size: 12px;
font-weight: 300;
}


/* @media only screen and (max-width: 1024px) and (min-width: 766px) {
/* OUTER TABLES SECTIOIN  */

.homePageTabletSectionOuter {
  display: flex;
  justify-content: center;
  
}

/* @media only screen and (max-width: 1024px) and (min-width: 766px) {
/* SECTIONS */

.secondSectionDesktop{
  display: inline-block !important;
  display: flex !important;
  
  margin-left: -9vw;
  justify-content: center !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  padding-top: 50px !important;

 
 
  
  width: 100vw !important;
}


/* REACH US SECRION */


#reachUsWhatSection{


  display: block !important;
  display: flex;
  flex-direction: row;
  
}

.homePageNeedReachUsH1{

  
  font-size: 13px;
  font-weight: bold;
  padding-top: 5vh;
  padding-bottom: 3vh;
}
  
  }
  
  
  
  /* DESKTOPS ONLY */
  @media only screen and (max-width: 1200px) and (min-width: 1025px)  {
  
    #navbarContent li {
    
      font-weight: 300;
      margin-left: 28px;
      
    }
    #logoNavbar {
      display: none;
    }
  
  .container-md{
  
    max-width: 90vw;
  }
    .Outer{
  
  
  display: flex;

  justify-content: space-between; 
  justify-content: center !important;
  
    }
  /* FIRST SECTION */
  
 
  .homePageFirstSection{
    
  
    
    
  }
  .forEachRowImageMobile{
  
    width: 55vw;
    
  }
  
  .forEachRowHomePageTextMobile{
    
   
    width: 55vw;
  }

  .forEachRowHomePageTextHeaderMobile{
    font-size: 30px !important;
    margin-bottom: -35px;
}
  
  
  .forEachRowHomePageMobile{
   
    padding-bottom: 5vh;
  
  }
  .forEachRowHomePageCategorytMobile{
    
    text-transform: uppercase;
    font-size: 9px;
    padding-bottom: 1vh;
    display: inline-block;
    margin-right: 10px;
  }
  .forEachRowHomePageLabelstMobile{
    display: inline-block !important;
    
    text-transform: uppercase;
    font-size: 9px;
    padding-bottom: 4vh;
  
    margin-right: 10px;

  }
  .forEachRowHomePageContent{

    width: 60vw;

  }
  
  
  .forEachRowHomePageTextHeaderMobile{
  
    width: 60vw;
    padding-bottom: 5vh;
    font-size: 19px;
  }
  .homePageFirstSection2Outer{
  
  
  }
  .homePageFirstSection2{
  
    display: flex;
    padding-top: 5vh;
    flex-direction: column;
  
   
    
    
  }
  /* DESKTOP SECTIONS */
  .firstSectionDesktop {
    display: inline-block !important;
  }
  .secondSectionDesktop {
    display: inline-block !important;
    width: 33%;
    vertical-align: top;
    float: right;
  }

  /* FACEBOOK SECTION */

  .facebookWidth {
    width: 10vw;
  }

  .homePageFacebookSection .facebookHeaderText {
    
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    font-size: 13px;
    width: 15vw;
  }

  .homePageFacebookSection {
    width: 40%;
  }

  .facebookSection {
    width: 30%;
  }

  

  /* WHAT WE DO SECGTION */

  .homePageWhatImage {
    width: 10vw;
    height: auto;
  }

  .homePageWhatRow {
    display: flex;
    padding-bottom: 14px;
    align-items: center;
  }

  .homePageWhatHeaderText {
    padding-left: 10px;
    font-size: 13px;
    font-family: "Playfair Display", serif;
  }

  .homePageWhatH1 {
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    margin: 0 auto;
  }
  .homePageWhatSection {
    
  }
/* NEWSLETTER SECTION */

.homePageNewsLetterSection {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.homePageNewsLetterBackground {
  margin-top: 40px;
  background-color: #c92020;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homePageNewsLetterHeader {
  font-size: 13px;
  width: 80%;
  font-weight: bold;
  padding: 31px  0 26px 0;
  color: white;
}
.homePageNewsLetterInput {
  width: 80%;
  height: 30px;
  border: none;
}

.homePageNewsLetterButton {
  width: 40%;
  font-size: 13px;
  margin-bottom: 30px;
}
::placeholder{
margin-top: -10px;
padding-left: 16px;
margin-bottom: 19px;
font-size: 12px;
font-weight: 300;
}



/* NEED TO REACH US SECTION */

.homePageNeedReachUsH1{

  
  font-size: 13px;
  font-weight: bold;
  padding-top: 5vh;
  padding-bottom: 3vh;
}
  
#reachUsWhatSectionOriginal{


  display: block !important;
}

}
  
  
  /* FULLSCREEN 😎 */
  @media only screen and (min-width: 1201px)  {

    #navbarContent li {
    
      font-weight: 300;
      margin-left: 28px;
      
    }

    #navbarContent li{
 

    }
   
  
    #logoNavbar {
        display: none;
      }
    
      .container-md {
        max-width: 69%;
        display: flex;
        
        
        justify-content: space-between;
      }
      .Outer{

    display: flex;
    justify-content: center !important;
    
      }
    /* FIRST SECTION */
    
    
    
      
    
    
    .homePageFirstSection{
      
    
      
      
    }
    .homePageFirstSection2InnerOuter{

        display: flex;
        justify-content: center;
        align-items: center;
        

    }
    .homePageFirstSection2Inner{

        width: 45vw;
    
}
    .labelContainer{
        display:inline-block;

        width: 40vw !important;
        display: flex !important;
        align-items: center !important;
        margin-right: -70px !important;
    }
   
    .forEachRowImageMobile{
    
      width: 40vw;
      margin-left: -70px;
      
    }
    
    .forEachRowHomePageTextMobile{
      
     
      width: 51vw;
      
    }
  
    .forEachRowHomePageTextHeaderMobile{
      font-size: 30px !important;
      margin-bottom: -35px;
      width: 100% !important;
  }
    
    
    .forEachRowHomePageMobile{
     
      padding-bottom: 5vh;
      display: flex;
      width: 55vw;

      justify-content: center;
    
    }
    .forEachRowHomePageCategorytMobile{
      
      text-transform: uppercase;
      font-size: 9px;
      padding-bottom: 1vh;
      display: inline-block;
      margin-right: 10px;
    }
    .forEachRowHomePageLabelstMobile{
      display: inline-block !important;
      text-transform: uppercase;
      font-size: 9px;
      padding-bottom: 4vh;
    
      margin-right: 10px;
  
    }
    .forEachRowHomePageContent{
      width: 60vw;
    }
    
    .forEachRowHomePageTextHeaderMobile{
    
      width: 60vw;
      padding-bottom: 5vh;
      font-size: 19px;
    }
    .homePageFirstSection2Outer{
    
    }
    .homePageFirstSection2{
    
      display: flex;
      padding-top: 5vh;
      flex-direction: column;
    
      
      
      
    }
    /* DESKTOP SECTIONS */
    .firstSectionDesktop {
      display: inline-block !important;
    }
    .secondSectionDesktop {
      
      width: 45%;
     
      vertical-align: top;
      
      
    }
    
    
    
    /* FACEBOOK SECTION */
    
    .facebookWidth {
      width: 10vw;
    }
  
   .facebookHeaderText {
      font-weight: bold;
      padding-top: 5vh;
      padding-bottom: 3vh;
      font-size: 13px;
      width: 19vw !important;
    }
  
    .homePageFacebookSection {
      width: 40%;
    }
  
    .facebookSection {
      width: 30%;
    }
  
  /* WHAT WE DO SECGTION */

  .homePageWhatImage {
    width: 5vw;
    height: auto;
  }

  .homePageWhatRow {
    display: flex;
    padding-bottom: 14px;
    align-items: center;
  }
  .homePageWhatHeaderText {
    padding-left: 10px;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    width: 70%;
  }
  .homePageWhatH1 {
    font-size: 13px;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 3vh;
    margin: 0 auto;
    display: inline-block;
  }

  .homePageWhatSection {
    float: left;
    width: 100%;
     
   }
    
     /* NEWSLETTER SECTION */

  .homePageNewsLetterSection {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
  }

  .homePageNewsLetterBackground {
    margin-top: 40px;
    background-color: #c92020;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .homePageNewsLetterHeader {
    font-size: 13px;
    width: 80%;
    font-weight: bold;
    padding: 31px  0 26px 0;
    color: white;
  }
  .homePageNewsLetterInput {
    width: 80%;
    height: 30px;
    border: none;
  }

  .homePageNewsLetterButton {
    width: 40%;
    font-size: 13px;
    margin-bottom: 30px;
  }
 ::placeholder{
  margin-top: -10px;
  padding-left: 16px;
  margin-bottom: 19px;
  font-size: 12px;
  font-weight: 300;
}

/* NEED TO RACH US */


.homePageNeedReachUsH1{

  
  font-size: 13px;
  font-weight: bold;
  padding-top: 5vh;
  padding-bottom: 3vh;
}
  
#reachUsWhatSectionOriginal{


  display: block !important;
}
  }