{% extends "baseManager.html" %} 
{% load static %} 
{% block metadescription %} 
{%endblock %} 
{% block title %} The Graphics House {% endblock %} 


{% block content%}

{% if messages %}
{%for message in messages%}

<!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->


{%endfor%}
{%endif%}
<link rel="stylesheet" href="{% static 'css/posts.css' %}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap" rel="stylesheet">
   
        
  
  <div class="content mobileContainer">

    <!-- <a class="btn btn-dark" href="{% url 'dashboard:addPost' %}"> Add Post</a>  -->

<!-- ==========================TOP SECTION UNTOP OF TABLE=====================≠≠≠=== -->
    <div style="width: 90%;" class="tableHeaderContainer ">
      <div class="postSection">
        <h1 class="postSectionItem">Posts</h1>
        <a  href="{% url 'dashboard:addPost' %}" class="postSectionItem btn btn-purple add">Add Post</a>
        <form class="postSectionItem">

            <input class="postSectionSearch unwanted-column" placeholder="Searach Posts.." type="search"><span></span>
        </form>
        <div class=" unwanted-column">
          {% if posted.paginator.num_pages > 1 %}
            
            <div class="text-center">
              {% for pg in posted.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light
                  {% if posted.number == pg %}active bg-dark text-light  {% endif %}">{{pg}}
                </a>
              {% endfor %}
            </div>
          {% endif %}
        </div>


        
      </div>

      <div style="float: right !important;" class=" figuresSection">
        <p class="totalParagraph unwanted-column">Total Posts <span class="totalParagraphBold"> {{post_listed|length}}</span></p>
        <p class="totalParagraph unwanted-column">Published <span class="totalParagraphBold"> 43</span></p>
        <p class="totalParagraph unwanted-column">Unpublished <span class="totalParagraphBold"> 34</span></p>
      </div>


    </div>

    <!-- ==========================TABLE STARTING=========================== -->
<div class="tableConatiner shadow-lg">
    <table  class="myTableStyling table table-borderless">
        <!-- <h6 class="p-3  text-success"> Posts <br>{{post_listed|length}}</h6> -->
        <thead class="thead-dark">
          <tr>
              <th scope="">Photo</th>
            <th class="titleCol" scope="">Title</th>
            <!-- <th scope="">Views</th> -->
            <th class="unwanted-column"  scope="">Category</th>
            <th class="unwanted-column" scope="cl">Status</th>
            <th scope="">Actions</th>
          </tr>
        </thead>
        <tbody>

         <!-- ==========================TABLE ITEMS=========================== -->
            {% for p in posted.object_list %}
          <tr class="">
            <td><a class="" href=""><img class="" style="width: 60px; border-radius: 8px;" src="{{p.image.url}}"></a></td>
            <td class="titleColValues" style="opacity: 70%;">{{p.title}}</td>
            <!-- <td>{{p.view_count}}</td> -->
            <td class="catCol unwanted-column"> {{p.category}}</td>
            <td class="unwanted-column">
            {% if p.published %} 
                <a href="{% url 'dashboard:unpublishPost' p.category.slug p.slug %}"  class="buttonUnPublish ">unpublish</a>
            {%else%}
            <a href="{% url 'dashboard:publishPost' p.category.slug p.slug %}"  class="buttonPublish">publish</a>
            {% endif %}
            </td>
            <td class="actionRow">
              {% if request.user.groups.all.0.name == 'Admin' %}
                <a class="actionItem" href="{% url 'dashboard:editPost' p.category.slug p.slug %}"><i class="far fa-edit"></i></a>
                <a class="actionItem text-danger text-center" href="{% url 'dashboard:deletePost' p.category.slug p.slug %}"><i class="fas fa-trash"></i></a>
          {%else%}
              <p class="badge bg-danger">Admin Only</p>
          {% endif %}
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

<div class="wanted-column unwanted-column">
  {% if posted.paginator.num_pages > 1 %}
    
    <div class="text-center">
      {% for pg in posted.paginator.page_range %}
        <a href="?page={{pg}}" class="btn btn-light
          {% if posted.number == pg %}active bg-dark text-light  {% endif %}">{{pg}}
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>

</div>

{% endblock content%}