{% load static %}


<nav  id="navbarMain" class="navbar navbar-expand-lg border-top border-bottom">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-dark"></i>
    </button>
    <a id="logoNavbar" class="navbar-brand mx-auto mr-3" href="{% url 'website:home' %}"> <img class=" mx-auto" style="width: 170px;" src="{% static 'images/HS.png' %}" alt="Online Cushion Store"></a>
    <a class="navbar-brand" href="#"><img src=""></a>
    <i  id="searchIconMobile" class="fas fa-search text-dark"></i>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul id="navbarContent" class="navbar-nav mx-auto ">
  

        {%for link in links%}
       
        <li class="nav-item navers">
          <a href="{% url 'website:category_detail' link.slug %}"   class=" t active" aria-current="page" >{{link.name}}</a>
        </li>

        
        {%endfor%}

       
      </ul>
      
    </div>
  </div>
</nav>



<script>

 

</script>
